@font-face {
	font-family: 'Creamy Sugar';
	src: url(../fonts/CreamySugar.ttf);
}

/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

/* Style */

body {
	background-color: black;
	color: white;
}

h1 {
	font-family: Creamy Sugar;
	font-size: 19vw;
	text-align: center;
	padding: 20px;
}

footer {
	font-family: Creamy Sugar;
	font-size: 1.5rem;
	padding: 50px 30px;
	text-align: right;
	background-color: #222;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

li {
	height: 30vh;
	flex-grow: 1;
}

li:hover {
	z-index: 1;
}

li:last-child {
	flex-grow: 10;
}

img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
	filter: grayscale(100%) brightness(75%);
	transition: all 0.2s;
}

img:hover {
	filter: grayscale(0%) brightness(100%);
	transform: scale(1.1);
}